@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  background: linear-gradient(135deg, #f8f9fa, #e0e0e0);
  font-family: 'Inter', 'Segoe UI', sans-serif;
  color: #222;
}
